body {
    /* background-color: rgb(0, 7, 46); */
    background-size: cover;
    background-image: url(faded_gallery-nEatfFMN1TU-unsplash.jpg);
    /* margin: 0; */
    line-height: 1.6;
    align-items: center;

}

body, html {
    height: 150%;
}

* {
    box-sizing: border-box;
}

/* styling for the navigation section */
.navigation {
    padding: 1px;
    width: 70%;
    margin-left: 15%;
    margin-top: .3px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    transform: scale(0.5);
    margin-left: 1px;
     text-align: center;
;
}

.logo img:hover {
    opacity: 0.98;
    transition: transform 0.2s;
    transform: scale(1.1);
}

.navlinks {
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-top: 5px;
    margin-right: 1px;
    position: relative;
}

.navlinks > a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    margin: 0 55px;
    font-weight: 700;
}

.navlinks > a:hover {
  padding-bottom: 10px;
  transition-duration: 0.2s;
}

/* end of nav section */

/* instruction on how to scroll */
html {
    scroll-behavior: smooth;
}


/* styling for the main sections of the website */
.sections {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 10rem;
}


/* styling for the names at the top section */
.names {
    width: 70%;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 25%;
    font-size: 100px;
    color: white;
}

.names > .bigname {
  opacity: 0.1;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 5px;
    margin-left: 1.5%;
    font-size: 80px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: thin #ffffff;
    font-family: Arial, sans-serif;
    font-weight: 700;
    align-items: center;
}

.names > .bigname1 {
  width: 100%;
  margin-top: 1px;
  margin-bottom: 5px;
  margin-left: 9%;
  font-size: 60px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: thin #ffffff;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: 700;
  align-items: center;
}

.names > .bigname:hover {
    opacity: 0.98;
    transition: transform 0.2s;
    transform: scale(1.1);
    -webkit-text-fill-color: white;
    color: white;
}

.names > .smallname {
    font-size: 20px;
    margin-left: 20%;
    color: white;
    margin-bottom: 4px;
}

.names > .smallname1 {
    font-size: 20px;
    margin-left: 33%;
    color: white;
    margin-bottom: 1px;
    margin-top: 150px;
}

.sections > section {
    color: white;
}
/* end of names section */


/* styling for the social media icons below the name */
.social-media {
  position: relative; /* Keep the icons moving on the respective section */
  margin-left: 36%;
  margin-top: 20px;
  margin-bottom: 400px; /* Adjust the vertical position from the bottom edge */
  display: block; /* Arrange icons horizontally in a row */
  flex-direction: column; /* Stack icons vertically on top of each other */
  gap: 10px; /* Add spacing between icons */
  scale: 1.4;
}

.social-media a {
  color: inherit; /* Inherit the text color from the parent element */
  text-decoration: none; /* Remove underline from links */
}



.social-media a :hover {
  color: rgb(0, 155, 155); /* Change the color on hover */
}

.social-media i {
  font-size: 2rem; /* Adjust icon size */
}
/* end of social media section */


.button {
  transform: scale(0.28);
  margin-left: 19%;
  margin-bottom: 1%;
}

#id2{
  background-color: rgb(255, 255, 255);
  border-top: 30px;
}
#id2 > h1{
  font-size: 60px;
  color: rgb(0, 7, 46);
  text-align: center;
  margin-left: 3%;
  padding-bottom: 10px;
  padding-top: 100px;
}

#id2 > h2{
  font-size: 18px;
  width: 70%;
  color: rgb(0, 7, 46);
  font-family: Arial, sans-serif;
  text-align: center;
  margin-left: 16%;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 100px

  /* font-size: 18px;
  width: 70%;
  color: rgb(0, 7, 46);
  text-align: center;
  margin-left: 16%;
  padding-bottom: 130px */
}

#id4 > h1{
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 3%;
  margin-bottom: 50px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.scrollbutton :hover{
  transform: scale(1.3); 
  transition: transform 0.2s;
}

#id3 > h1{
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 3%;
  margin-bottom: 80px;
  padding-bottom: 10px;
  padding-top: 90px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* progress bar */
.myprogress {
min-width: 100%;
margin: 0px auto;
text-align: center;
margin-bottom: 10px;
}
.myprogress .circle,
.myprogress .bar {
display: inline-block;
background: #fff;
width: 100px; 
height: 100px;
border-radius: 80px;
border: 1px solid #d5d5da;
}
.myprogress .circle:hover {
cursor: pointer;
transform: scale(1.3);
transition: .2S;
background-color: rgb(255, 255, 255);
border: none;
}
.myprogress .bar {
position: relative;
width: 80px;
height: 2px;
top: -5px;
border: 0px solid #d5d5da;
background:#fffcfc;
}
.myprogress .circle .label {
display: inline-block;
width: 40px;
height: 40px;
line-height: 30px;
border-radius: 40px;
font-size: 24px;
}
.myprogress .circle .title {
color: rgb(0, 0, 0);
font-size: 18px;
line-height: 100px;
font-weight: 700;
transform: scale(2.5);
}

.myprogress .circle .title:hover {
color: rgb(0, 0, 0);
}
.dprocess {
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-align: none;
  margin-left: 37%;
  padding-top: 10px;
  margin-top: 10px;
}

.gmoney {
  display: flex;
  justify-items: center;
  margin-left: 28.5%;
  text-align: center;
  color: white;
  padding-top: 30px;
  margin-top: 100px;
}

.explanation {
  background-color: rgb(255, 255, 255);
  border-top: 30px;
}

.explanation1 {
  font-size: 18px;
  width: 70%;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  text-align: center;
  margin-left: 16%;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 100px
}
  /* end of progress bar */

/* below is the css styling for the skills section in the website */
.skill {
  background-color: rgb(7, 7, 7);
  border-radius: 9px;
  border-color: white;
  width: 600px;
  margin-left: 1px;
  color: rgb(255, 255, 255);
  padding: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.skill > h1 {
  text-align: center;
  font-size: 30px;
}
.skill > li {
  margin: 20px 0;
  padding: 10px;
  font-size: 20px;
}

.bar {
  background: #353b48;
  display: block;
  height: 30px;
  border: 2px solid rgba(22, 22, 22, 0.3);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bar span {
  height: 40px;
  float: left;
  background-color: rgb(0, 255, 234);

}

.html {
  width: 90%;
  animation: html 3s;
}

.css {
  width: 70%;
  animation: css 3s;
}

.javascript {
  width: 50%;
  animation: javascript 3s;
}

.python {
  width: 70%;
  animation: python 3s;
}

.mysql {
  width: 80%;
  animation: mysql 3s;
}

.blender {
  width: 70%;
  animation: blender 3s;
}

.adobe {
  width: 90%;
  animation: blender 3s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
  
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes mysql {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes blender {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes adobe {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

/* end here for skill section */

/* experience section starts here */

#experience-section .experience-description {
  padding: 0 100px;
  font-size: 1.2em
}

@media only screen and (max-width: 1170px) {
  #experience-section .experience-description {
      padding:0
  }
}

#experience-section .experience-description a {
  display: inline-block;
  position: relative;
  font-weight: 500;
  transition: all .3s ease
}

#experience-section .experience-description a:after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 2px;
  border-width: 0 0 .5px;
  border-style: solid;
  border-color: #f2f2f2;
  transition: all .3s ease
}

#experience-section .experience-wrapper {
  padding: 30px
}

@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper {
      padding-left:0
  }
}

@media only screen and (max-width: 600px) {
  #experience-section .experience-wrapper {
      padding:30px 0
  }
}

#experience-section .experience-wrapper #timeline {
  position: relative;
  padding: 2em 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto
}

#experience-section .experience-wrapper #timeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  height: 100%;
  width: 2px;
  background: #00b7c7
}

@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline:before {
      left:20px;
      margin-left: 0
    }
}

@media only screen and (max-width: 480px) {
  #experience-section .experience-wrapper #timeline:before {
      left:10px
  }
}

#experience-section .experience-wrapper #timeline:after {
  content: '';
  display: table;
  clear: both
}

#experience-section .experience-wrapper #timeline .timeline-block {
  position: relative;
  transition: all .3s ease;
  margin: 1em 0
}

#experience-section .experience-wrapper #timeline .timeline-block:after {
  content: "";
  display: table;
  clear: both
}

#experience-section .experience-wrapper #timeline .timeline-block:first-child {
  margin-top: 0
}

#experience-section .experience-wrapper #timeline .timeline-block:last-child {
  margin-bottom: 0
}

@media only screen and (max-width: 1170px) {
  #experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) {
      margin-top:0;
      margin-bottom: 2em
  }
}

#experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content {
  float: left
}

@media only screen and (max-width: 1170px) {
  #experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content {
      right:10px
  }
}

@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content {
      right:auto
  }
}

#experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content:before {
  top: 24px;
  left: 100%;
  border-color: transparent;
  border-left-color: #1b1b1b
}

@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content:before {
      top:16px;
      left: auto;
      border-color: transparent;
      border-right-color: #1b1b1b
  }
}

#experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content .date {
  left: auto;
  text-align: right;
  right: -33%
}

#experience-section .experience-wrapper #timeline .timeline-block:nth-child(even) .date {
  text-align: right;
  left: auto;
  right: 55%
}

@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline .timeline-block:nth-child(even) .date {
      text-align:left;
      font-size: 14px;
      color: #777;
      position: relative;
      top: -40px;
      left: 95px;
      right: auto
  }
}

@media only screen and (max-width: 480px) {
  #experience-section .experience-wrapper #timeline .timeline-block:nth-child(even) .date {
      left:66px
  }
}

/* the circle that highlights when you hover on info about a certain school */
#experience-section .experience-wrapper #timeline .timeline-block .timeline-img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 50%;
  margin-left: -25px;
  border-radius: 50%;
  background: #212121;
  transform: translateZ(0);
  backface-visibility: hidden;
  transition: all .3s ease
}

@media only screen and (max-width: 480px) {
  #experience-section .experience-wrapper #timeline .timeline-block .timeline-img .sprite {
      width:20px;
      height: 20px;
      margin-left: -10px;
      margin-top: -10px
  }
}

#experience-section .experience-wrapper #timeline .timeline-block .timeline-content {
  float: right;
  position: relative;
  background: #1b1b1b;
  border-radius: 3px;
  margin-left: 0;
  padding: 1.5em;
  width: 45%;
  opacity: .85;
  transition: all .3s ease
}

@media only screen and (max-width: 1170px) {
  #experience-section .experience-wrapper #timeline .timeline-block .timeline-content {
      left:0;
      padding-bottom: 2.5em
  }
}

@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline .timeline-block .timeline-content {
      margin-left:70px;
      right: auto;
      width: auto
  }
}

@media only screen and (max-width: 480px) {
  #experience-section .experience-wrapper #timeline .timeline-block .timeline-content {
      margin-left:50px;
      padding: 1.5em 1em 2.5em
  }
}

#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:focus,#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:hover {
  opacity: 1
}

#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:focus+.timeline-img,#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:hover+.timeline-img {
  background: #00b7c7
}

#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:before {
  content: '';
  position: absolute;
  top: 24px;
  right: 100%;
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border-color: transparent;
  border-right-color: #1b1b1b
}

@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline .timeline-block .timeline-content:before {
      top:16px;
      right: 100%;
      left: auto;
      border: 15px solid transparent;
      border-right: 15px solid #1b1b1b
  }
}

#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:after {
  content: "";
  display: table;
  clear: both
}

#experience-section .experience-wrapper #timeline .timeline-block .timeline-content .position {
  color: #f2f2f2;
  margin: 5px 0 10px;
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
  font-family: Gotham,Helvetica,Arial,sans-serif
}

#experience-section .experience-wrapper #timeline .timeline-block .timeline-content .company {
  margin: 0 0 10px 0;
  font-size: 15px;
  font-weight: 500
}

#experience-section .experience-wrapper #timeline .timeline-block .timeline-content .company a {
  color: #00b7c7;
  display: inline;
  transition: all .3s ease
}

#experience-section .experience-wrapper #timeline .timeline-block .timeline-content .company a:focus,#experience-section .experience-wrapper #timeline .timeline-block .timeline-content .company a:hover {
  color: #00dded
}

#experience-section .experience-wrapper #timeline .timeline-block .timeline-content .sch-desc {
  margin: 1em 0;
  font-size: 1em;
  line-height: 1.5
}

@media only screen and (max-width: 480px) {
  #experience-section .experience-wrapper #timeline .timeline-block .timeline-content .sch-desc {
    font-size:1em;
    line-height: 1.5
  }
}

/* positioning of the dates on the timeline */
#experience-section .experience-wrapper #timeline .timeline-block .date {
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
  color: #f2f2f2;
  font-family: Gotham,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  left: 55%;
  top: 30px
}

@media only screen and (max-width: 1000px) {
  #experience-section .experience-wrapper #timeline .timeline-block .date {
      font-size:14px;
      color: #777;
      position: absolute;
      top: auto;
      bottom: 20px;
      left: 95px
    }
}

@media only screen and (max-width: 480px) {
  #experience-section .experience-wrapper #timeline .timeline-block .date {
      left:66px
  }
}

/* styling for the arrow pointing down on the timeline */
#experience-section .down-arrow {
  display: block;
  margin: 0 auto;
  border-color: transparent;
  border-top-color: #00b7c7;
  border-style: solid;
  border-width: 15px 7px 0;
  width: 0;
  height: 0;
  position: relative;
  line-height: 0
}

@media only screen and (max-width: 1000px) {
  #experience-section .down-arrow {
      margin-left:13.5px
    }
  }
  
  @media only screen and (max-width: 480px) {
    #experience-section .down-arrow {
      margin-left:3.5px
    }
  }
  /* experience section ends here */

  /* styling for the contact form  above the footer*/
  .container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    min-width:370px;
    margin-bottom: 0px;
  }
  
  h2 {
    font-size:2rem;
    margin-bottom:1rem;
  }
  .form-container {
    display:flex;
  }
  
  .left-container {
    flex:1;
    height:480px;
    background-color: rgb(0, 177, 162);
  }
  .right-container {
    display:flex;
    flex:1;
    height:460px;
    background-color: white;
    justify-content:center;
    align-items:center;
  }
  
  .left-container {
    display:flex;
    flex:1;
    height:480px;
    justify-content:center;
    align-items:center;
    color:white;
  }
  
  .left-container p {
    font-size:0.9rem;
  }
  
  .right-inner-container {
    width:80%;
    height:140%;
    text-align:center;
  }
  
  .left-inner-container {
    height:50%;
    width:80%;
    text-align:center;
    line-height:22px;
  }
  
  .left-inner-container > p{
    font-size: 15px;
  }
  
  input, textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 5px 0;
    width: 100%;
    font-size:1rem;
  }
  
  input:focus, textarea:focus{
    outline:1px solid rgb(0, 7, 46);
  }
  
  button {
    border-radius: 20px;
    border: 1px solid rgb(0, 214, 196);
    background-color: rgb(0, 177, 162);
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor:pointer;
    margin-bottom: 50px;
  }
  
  button:hover {
    opacity:0.98;
    transition: transform 0.2s;
    transform: scale(1.1);
  }
  
  form p {
    text-align:left;
  }
  /*end of contact form styling*/

  /* footer section starts here */
footer{
  background-color: rgb(7, 7, 7);
  opacity: 0.95;
}
.footerContainer{
  width: 100%;
  padding: 40px 30px 20px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:rgb(49, 49, 49);
  margin: 20px;
  text-decoration: none;
  font-size: 1.7em;
  transition: 0.2s;

}
.footerNav ul li a:hover{
  /* opacity: 1; */
  color: white;
  padding-bottom: 10px;
  transition-duration: 0.2s;
}
.footerBottom{
  background-color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  opacity: 0.7;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.95;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
  }
  .socialIcons a{
      padding: 8px;
      margin: 10px;
  }
}

*{
  font-family: 'Gill Sans', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* end of footer section */

/* end of css document*/
